.btn-icon {
  background-color: transparent;
  border: none;
  width: 32px;
  height: 32px;
  padding: 0;
  transition: .2s;

  &:hover {
    transform: scale(1.2);
  }

  svg {
    fill: $primary-color;
    width: 100%;
    height: 100%;
  }
}