//////////////////////////// font
$ff-main: "Montserrat", sans-serif;
$fz-main: 14px;
$lh-main: 1.4;

//////////////////////////// colors
$primary-color: #1B1B1B;
$accent-color: #44C377;
$dark-gray-color: #898989;
$gray-color: #DBDBDB;
$light-gray-color: #E5E5E5;

// //////////////////////////// breakpoints
$sl: 1429.98px;
$xl: 1199.98px;
$lg: 991.98px;
$md: 767.98px;
$sm: 575.98px;
$xs: 425.98px;
$ss: 359.98px;